{% extends "base.html" %}

{% block head_title %}
About Me
{% endblock head_title  %}

{% block content %}
<p>
	<h5> About Me </h5>
	<div>Fixated on technology, software and 'cool shiny new stuff'</div>
	<div>Been learning Python in 2020, becoming a lockdown coder and loving it
	<div>Making programs and apps every month and focusing to become a Python Developer</div>
	<div>Working knowledge of Django, Pandas, Matplotlib and SQL(PostGreSQL & SQLite)</div>
	<br/>
	<h5>Contact me on</h5>
	<div>ph: 0755 230 5551</div>
	<div>nick.francis.foote@gmail.com</div>
	<br/>
	<img width="750" src="/media/image/me2.jpg" class="card">

</p>
{% endblock content  %}
